body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
h1 {
    text-align: center;
    color: #333333;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 8px;
    color: #555555;
}
input[type="date"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
    width: calc(100% - 22px);
}
button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
button:hover:not(:disabled) {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    color: #333333;
}
p {
    text-align: center;
    font-size: 1.4rem;
    color: #333333;
}

#results-container {
    display: none;
}

footer {
    text-align: center;
    padding: 10px;
    color: #aaaaaa;
    font-size: 14px;
}